<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target name="logfile" xsi:type="File" 
            fileName="${basedir}/logs/chia-plotter-log.txt"
            archiveFileName="${basedir}/logs/chia-plotter-log-{#}.txt"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            keepFileOpen="false"
            concurrentWrites="true"
            maxArchiveFiles="30"
            autoFlush="true"
        />
        <target name="simple" xsi:type="File" 
            fileName="${basedir}/log.txt"
        />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logfile" />
    </rules>
</nlog>